@import 'tailwindcss';

:root {
  --font-jetbrains: 'JetBrains Mono', monospace;
  --font-bungee: 'Bungee', sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-jetbrains);
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bungee);
}

::-webkit-scrollbar {
  background-color: #222222;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
}

.word {
  border-bottom: 2px solid transparent;
  &.active {
    color: var(--color-neutral-300);
  }
  &.wrong {
    border-bottom-color: var(--color-red-600);
  }
}

.letter {
  position: relative;

  &.correct {
    color: var(--color-orange-400);
  }

  &.wrong {
    color: var(--color-red-600);
  }
}
