@import 'tailwindcss';

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter Variable', sans-serif;
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: 'Inter Variable', monospace;
}

::-webkit-scrollbar {
  background-color: #020d1f;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #334155;
  border-radius: 6px;
}
