@import 'tailwindcss';
/* bungee-latin-400-normal */

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: 'JetBrains Mono', monospace;
}

body.no-scroll {
  overflow: hidden;
}

h1 {
  font-family: 'Bungee', sans-serif;
}

/* ::-webkit-scrollbar {
  background-color: #222;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
} */
