---
import Layout from '../layouts/Layout.astro';
import MainContent from '../components/MainContent.astro';
import GamepadTester from '../sections/gamepad-test/GamepadTester.astro';
import Collapsible from '../components/Collapsible.astro';

const title = 'Gamepad Test';
const description =
  'Haz un test de funcionalidad de un gamepad conectado a tu computadora. Test de control de gamepad. Probar control online. Prueba de control xbox, ps4, switch, etc.';
---

<Layout title={title} description={description}>
  <MainContent>
    <h1
      class="mb-12 text-center text-4xl lg:text-7xl font-bold bg-gradient-to-r from-red-500 to-yellow-400 text-transparent bg-clip-text"
    >
      Gamepad Test
    </h1>
    <h3 id="status" class="mb-12 text-lg lg:text-3xl text-center">
      No se detectó ningún gamepad
    </h3>

    <GamepadTester />

    <Collapsible title="Descripción">
      <p class="p-6">
        Este proyecto implementa la lógica para detectar y mostrar el estado de
        los botones y ejes de un gamepad conectado usando la API de Gamepad de
        JavaScript y un elemento SVG que representa el estado de forma gráfica.
        <br />
        <br />
        El código sólo actualiza la interfaz gráfica cuando detecta un cambio real
        en el estado del gamepad, lo cual se traduce en una gran mejora de rendimiento.
        <br />
        El sistema registra eventos de conexión y desconexión del control, y mantiene
        el seguimiento de los estados anteriores de botones y ejes (sticks analógicos).
      </p>
    </Collapsible>
  </MainContent>
</Layout>
