---
// import Footer from '@/sections/Footer.astro';
import Header from '@/sections/Header.astro';
import Layout from '@/layouts/Layout.astro';
import Main from '@/sections/Main.astro';
import SideBar from '@/sections/SideBar.astro';
---

<Layout>
  <div id="site-wrapper" class="px-4 md:px-16 lg:px-8">
    <div
      id="content-wrapper"
      class="relative w-full mx-auto grid grid-cols-1 lg:max-w-7xl lg:grid-cols-[144px_auto_144px] lg:gap-10"
    >
      <Header />
      <Main />
      <SideBar />
    </div>
  </div>
</Layout>
