---
// import { Image } from 'astro:assets';
// import gamepadPage from '@/assets/gamepad-page.png';
---

<section id="projects">
  <h2
    class="mb-6 text-2xl lg:text-3xl font-bold border-b-2 border-white py-3 text-white"
  >
    Proyectos
  </h2>
  <div class="min-h-[20rem]">
    <ul>
      <li>
        <h3
          class="mb-4 text-2xl lg:text-3xl font-bold bg-gradient-to-r from-red-500 to-yellow-400 text-transparent bg-clip-text"
        >
          Gamepad Test
        </h3>
        <p class="mb-4">Un proyecto que permite probar los controles de un gamepad.</p>
        <!-- <Image src={gamepadPage} alt="" /> -->
        <a class="text-white" href="/gamepad-test">Ver proyecto</a>
      </li>
    </ul>
  </div>
</section>
