---
import { Image } from 'astro:assets';
import closeIcon from '@/assets/close.svg';
---

<nav id="navMobile">
  <button
    aria-label="Cerrar menú"
    id="closeBtn"
    type="button"
    class="absolute top-0 right-0 py-4 px-4"
  >
    <Image src={closeIcon} alt="Icono menu" width={48} />
  </button>
  <ul class="flex flex-col gap-y-8 font-bold text-lg uppercase text-center">
    <li><a href="#">Inicio</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#servicios">Servicios</a></li>
    <li><a href="#proyectos">Proyectos</a></li>
  </ul>
</nav>

<style>
  #navMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
    transform: translateX(100%);
    background-color: #192543aa;
    backdrop-filter: blur(16px);
    transition: transform 150ms ease-in;
  }
  #navMobile.active {
    transform: translateX(0);
  }
  @media (width >= 64rem) {
    #navMobile {
      display: none;
    }
  }
</style>
