---
import { Image } from 'astro:assets';
interface Props {
  title: string;
  image: ImageMetadata;
  href: string;
}
const { title = '', image, href } = Astro.props as Props;
---

<a
  aria-label="Ir al proyecto"
  href={href}
>
  <li
    class="p-6 lg:p-10 flex h-full flex-col border border-neutral-700 hover:border-white transition-all"
  >
    <h3
      class="mb-4 text-3xl lg:text-4xl font-bold bg-gradient-to-r from-red-500 to-yellow-400 text-transparent bg-clip-text"
    >
      {title}
    </h3>
    <slot />
    <Image
      src={image}
      alt={title}
      class:list={'mx-auto w-full lg:w-[24rem] hover:scale-110 transition ease-in-out'}
    />
  </li>
</a>
