---
import { Image } from 'astro:assets';
import githubIcon from '@/assets/github.svg';
import linkedinIcon from '@/assets/linkedin.svg';
---

<aside class="px-4 grid lg:grid-rows-3 lg:h-screen lg:col-[3] lg:sticky lg:top-0">
  <div class="flex justify-center py-6 lg:py-12 uppercase">
    <a
      class="block text-white h-min w-full text-center lg:w-min py-2 px-4 border border-white hover:bg-white hover:text-black transition-colors"
      href="mailto:hello@nxzav.dev">Contacto</a
    >
  </div>
  <nav class="flex items-center justify-center">
    <ul class="flex gap-x-6 pb-6 lg:flex-col lg:gap-x-0 lg:gap-y-8">
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/nxzavala/">
          <Image
            src={linkedinIcon}
            alt="Icono de Linkedin"
            width={32}
            class:list={'transition hover:scale-110'}
          />
        </a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/nxzavdev">
          <Image
            src={githubIcon}
            alt="Icono de Github"
            width={32}
            class:list={'transition hover:scale-110'}
          />
        </a>
      </li>
    </ul>
  </nav>
</aside>
