---
import Skills from '@/sections/Skills.astro';
import Intro from '@/sections/Intro.astro';
import Projects from '@/sections/Projects.astro';
---

<main class="min-h-screen lg:col-[2]">
  <Intro />
  <Skills />
  <Projects />
</main>
