---
import { Image } from 'astro:assets';
import nxzavLogo from '@/assets/nxzav.svg';
import MobileMenu from '@/components/MobileMenu.astro';
import menuIcon from '@/assets/menu.svg';
---

<header
  class="flex w-full justify-between lg:grid lg:grid-rows-3 lg:col-[1] lg:h-screen lg:sticky lg:top-0"
>
  <div class="flex py-4 lg:py-12">
    <a href="/">
      <Image
        src={nxzavLogo}
        alt="Noé Zavala"
        class:list={'hover:rotate-90 transition ease-in-out w-12 lg:w-16'}
      />
    </a>
  </div>
  <div class="lg:hidden py-4">
    <button id="menuBtn">
      <Image src={menuIcon} alt="Menú" class:list={'w-12'} />
    </button>
  </div>
  <MobileMenu />
  <nav class="hidden lg:flex items-center">
    <ul class="flex flex-col gap-y-6">
      <li>
        <a
          class="px-2 py-2 hover:text-blue-400 text-md font-bold uppercase"
          href="#">Inicio</a
        >
      </li>
      <li>
        <a
          class="px-2 py-2 hover:text-blue-400 text-md font-bold uppercase"
          href="#skills">Skills</a
        >
      </li>
      <li>
        <a
          class="px-2 py-2 hover:text-blue-400 text-md font-bold uppercase"
          href="#servicios">Servicios</a
        >
      </li>
      <li>
        <a
          class="px-2 py-2 hover:text-blue-400 text-md font-bold uppercase"
          href="#proyectos">Proyectos</a
        >
      </li>
    </ul>
  </nav>
</header>

<script>
  const menuBtn = document.getElementById('menuBtn');
  const closeBtn = document.getElementById('closeBtn');
  const navMobile = document.getElementById('navMobile');
  const navLinks = navMobile?.querySelectorAll('a');

  function toggleMenu() {
    if (navMobile) {
      navMobile.classList.toggle('active');
      document.body.classList.toggle('no-scroll');
    }
  }
  menuBtn?.addEventListener('click', toggleMenu);
  closeBtn?.addEventListener('click', toggleMenu);
  navLinks?.forEach((link) => {
    link.addEventListener('click', () => {
      navMobile?.classList.remove('active');
      document.body.classList.remove('no-scroll');
    });
  });
</script>
