<section class="mb-12 pt-6 lg:pt-36">
  <p class="text-lg text-center lg:text-left lg:text-xl">¡Hola! Soy Noé,</p>
  <h1
    class="mb-12 text-center lg:text-left text-4xl lg:text-7xl font-bold bg-gradient-to-r from-red-500 to-yellow-400 text-transparent bg-clip-text"
  >
    Web Developer <br />Full Stack
  </h1>
  <div>
    <p class="lg:text-lg">
      Desarrollo<span class="text-white"> sitios web responsivos </span>y <spanspan
        class="text-white">centrados en el usuario</spanspan
      >, optimizando la experiencia con <span class="text-white"
        >código limpio y eficiente</span
      >. También tengo experiencia en <span class="text-white"
        >email marketing</span
      >, creando plantillas modulares y automatizando campañas para
      <span class="text-white">maximizar resultados</span>. Inspirado por las<span
        class="text-white"
      >
        nuevas tecnologías</span
      > y el<span class="text-white"> desarrollo accesible.</span>
    </p>
  </div>
</section>
