---
import { Image } from 'astro:assets';
import amicoImage from '@/assets/amico2.svg';
import Tech from '@/components/Tech.astro';
---

<main class="min-h-screen lg:col-[2]">
  <section class="mb-12 pt-6 lg:pt-36">
    <h3 class="mb-6 text-lg lg:text-xl">¡Hola! Soy Noé,</h3>
    <h1 class="mb-6 text-2xl lg:text-4xl font-bold leading-tight">
      Desarrollador Web Full Stack <br class="hidden lg:inline" /> y Analista de
      Datos
    </h1>
    <h2 class="mb-6 text-xl lg:text-2xl lg:mb-8 font-bold text-blue-400 leading-tight">
      Especializado en E-Commerce y Front-End
    </h2>
    <div class="grid items-center md:grid-cols-[1.5fr_1fr]">
      <div>
        <p class="mb-6 text-md lg:text-lg">
          Con más de 3 años dedicado a la programación, <span
            class="text-blue-400 font-bold"
          >
            diseño y desarrollo web</span
          >, así como en la automatización de campañas de <span
            class="text-blue-400 font-bold"
          >
            email marketing y anuncios</span
          > enfocados a la captación de clientes y el crecimiento del negocio.
        </p>
        <p class="text-md lg:text-lg">
          Disfruto contribuyendo al desarrollo de productos digitales
          <span class="text-blue-400 font-bold"
            >eficientes y fáciles de usar</span
          >, siempre poniendo énfasis en las mejores prácticas que optimizan la <span
            class="text-blue-400 font-bold">experiencia de usuario (UX)</span
          > y la <span class="text-blue-400 font-bold"> accesibilidad</span>.
        </p>
      </div>
      <div class="flex flex-col items-center pt-6">
        <Image
          src={amicoImage}
          alt="Hombre sentado con una laptop en las manos"
          class:list={'w-[80%] lg:w-[300px]'}
        />
      </div>
    </div>
  </section>
  <section id="skills">
    <h2 class="mb-12 text-2xl lg:text-3xl font-bold border-b-2 border-slate-700 py-3">Skills</h2>
    <div class="mb-12">
      <h3 class="mb-6 text-xl lg:text-2xl">Plataformas e-commerce y marketing</h3>
      <ul class="flex gap-3 lg:gap-4 flex-wrap">
        <Tech>Salesforce Marketing Cloud</Tech>
        <Tech>Adobe Experience Cloud</Tech>
        <Tech>Shopify</Tech>
        <Tech>MailChimp</Tech>
        <Tech>MercadoLibre</Tech>
        <Tech>Amazon</Tech>
        <Tech>WordPress</Tech>
        <Tech>WooCommerce</Tech>
      </ul>
    </div>
    <div class="mb-12">
      <h3 class="mb-6 text-xl lg:text-2xl">Front End</h3>
      <ul class="flex gap-3 lg:gap-4 flex-wrap">
        <Tech>React</Tech>
        <Tech>Next.js</Tech>
        <Tech>Tailwind</Tech>
        <Tech>Astro</Tech>
        <Tech>Vue.js</Tech>
        <Tech>Alpine.js</Tech>
        <Tech>TypeScript</Tech>
        <Tech>HTML</Tech>
        <Tech>CSS</Tech>
        <Tech>JavaScript</Tech>
      </ul>
    </div>
    <div class="mb-12">
      <h3 class="mb-6 text-xl lg:text-2xl">Back End</h3>
      <ul class="flex gap-3 lg:gap-4 flex-wrap">
        <Tech>Node.js</Tech>
        <Tech>Express</Tech>
        <Tech>Headless CMS</Tech>
        <Tech>Cloudflare</Tech>
        <Tech>Netlify</Tech>
        <Tech>NestJS</Tech>
        <Tech>Supabase</Tech>
        <Tech>SQL</Tech>
        <Tech>MongoDB</Tech>
      </ul>
    </div>
  </section>
</main>

<style>
  ul::after {
    content: '';
    flex: 10 1 auto;
  }
  @media (width >= 64rem) {
    ul::after {
      display: none;
    }
  }
</style>
