<section id="projects">
  <h2
    class="mb-6 text-2xl lg:text-3xl font-bold border-b-2 border-white py-3 text-white"
  >
    Proyectos
  </h2>
  <p class="text-xl">Loading...</p>
  <div class="h-[300px]">

  </div>
</section>
