<aside class="h-screen py-12 grid grid-rows-3 col-[3] sticky top-0">
  <div class="flex justify-center">
    <a
      class="bg-blue-500 block h-min w-min py-2 px-4 rounded hover:bg-blue-400"
      href="#">Contáctame</a
    >
  </div>
  <nav class="flex items-center justify-end">
    <ul class="flex flex-col items-end gap-y-6 uppercase">
      <li><a href="/"></a></li>
      <li><a href="/about"></a></li>
      <li><a href="/contact"></a></li>
    </ul>
  </nav>
</aside>
