---
import '@/styles/global.css';
import '@fontsource/jetbrains-mono';
import '@fontsource/bungee';
import '@fontsource-variable/roboto-mono';
import MobileMenu from '@/components/MobileMenu.astro';
import Header from '@/components/Header.astro';
import SideBar from '@/components/SideBar.astro';
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Noé Zavala" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#000000" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
  </head>
  <body class="bg-black text-neutral-400 min-h-screen">
    <MobileMenu />
    <div id="site-wrapper" class="relative z-0 min-h-screen">
      <div
        id="content-wrapper"
        class="relative w-full min-h-screen mx-auto flex flex-col lg:grid lg:max-w-[90rem] lg:grid-cols-[12rem_auto_12rem] lg:gap-10"
      >
        <Header />
        <slot />
        <SideBar />
      </div>
    </div>
    <script src="src/main.ts"></script>
  </body>
</html>
